@mixin flex-box {
  display: -webkit-flex; /* Safari */
  display: flex;
}

@mixin flex($grow, $shrink, $base) {
  -webkit-flex: $grow $shrink $base; /* Safari 6.1+ */
  -ms-flex: $grow $shrink $base; /* IE 10 */
  flex: $grow $shrink $base;
}

@mixin flex-flow($arguments...) {
  -webkit-flex-flow: $arguments; /* Safari 6.1+ */
  flex-flow: $arguments;
}
