div(flash-message ng-class='$ctrl.classMap[message.type]'
              ng-repeat='message in $ctrl.messages'
              ng-bind='message.text'
              messages='$ctrl.messages'
              message='message')
