section#contact
  .contact
    @extend .content-container
    @include flex-box
    padding-top: 1em
    padding-bottom: 1em
    @include flex-flow(column)
    @include media-breakpoint-up(md)
      @include flex-flow(row wrap-reverse)
    .contact--form, .contact--map
      @include flex(1, 0, 0)
      padding-top: 1em
      padding-bottom: 1em
      min-width: 10em
      @include media-breakpoint-up(md)
        padding-left: 1em
        padding-right: 1em
    .contact--map
      [google-map]
        min-height: 17.5em
    .contact--form
      @include flex-box
      align-items: center
      justify-content: center
      width: 100%
      form
        width: 100%
