.information
  @extend .container
  display: flex
  align-items: center
  .information--image
    flex: 1 0 0
    font-size: 8em
  .information--content
    display: flex
    flex-flow: column nowrap
    flex: 3 0 0
    p
      color: $gray-font-strong
      font-size: 1.1em
      letter-spacing: 1px
      margin: 0
      span
        color: $highlight-font
        margin-right: 1em
