@import 'common/variables'
@import 'bootstrap'

#information
  background: #FFF

  p, i
    color: $gray-font-strong

  .image-container
    @extend .col-md-3
    i
      font-size: 14em

  .text-container
    @extend .col-md-9
    p
      font-size: 1.5em
      letter-spacing: 1px
      margin: 26px 0
      text-align: justify
    span
      color: $highlight-font
      margin-right: 8px
