.information
  @extend .container
  @include flex-box
  @include flex-flow(column)
  @include media-breakpoint-up(md)
    @include flex-flow(row)
  align-items: center
  padding-top: 1em
  padding-bottom: 1em
  .information--image
    @include flex(1, 0, 0)
    @include flex-box
    justify-content: center
    font-size: 8em
  .information--content
    @include flex-box
    @include flex-flow(column nowrap)
    @include flex(3, 0, 0)
    width: 100%
    p
      color: $gray-font-strong
      font-size: 1.1em
      letter-spacing: 1px
      margin: 0
      span
        color: $highlight-font
        margin-right: 1em
