section#main-menu
  background: map-get($colors, black-dark)
  z-index: 9999

  .menu
    @include flex-box
    @extend .header-container
    .menu--buttons
      @include flex(3, 0, 0)
      @include flex-box

  .menu
    padding-top: 1.25em
    padding-bottom: 1.25em
    .menu--logo
      img
        height: 2rem
    .menu--buttons
      align-items: center
      justify-content: flex-end
      a
        margin-left: 2em
      a.buttons--main
        @extend .main-btn
        box-shadow: none
        padding: 0.5em 1.5em
      i
        color: map-get($colors, green)
        font-size: 1.5em
