section#main-menu
  background: $bg-menu
  padding: 20px 60px
  z-index: 9999

  .menu
    display: flex
    @extend .container
    .menu--buttons
      flex: 3 1 auto
      display: flex
      align-items: center
      justify-content: flex-end

  .menu
    display: flex
    @extend .container
    .menu--logo
      img
        height: 2rem
    .menu--buttons
      a
        margin-left: 1em
      a.buttons--main
        @extend .main-btn
        box-shadow: none
        padding: 0.5em 1.5em
      i
        color: $highlight-font
        font-size: 1.5em
