#menu.section
  background: $bg-menu
  padding: 20px 60px

  img
    height: 35px

  #buttons-container
    display: inline-block
    float: right
    margin-top: 4px
  a
    box-shadow: none
    padding: 9px 25px
    vertical-align: middle
    &.social
      &.facebook
        padding: 9px 10px 9px 25px
      &:last-of-type
        padding: 9px 0 9px 10px
  i
    color: $highlight-font
    font-size: 25px
    vertical-align: sub

  &.fixed
    position: fixed
    top: 0
    width: 100%
    z-index: 1
