#registration
  background: #F3F3F3

  .text-container, .image-container
    @extend .col-md-6
    p
      color: $gray-font

  .text-container
    p:first-of-type
      font-size: 1.75em
    p:last-of-type
      font-size: 1.25em

  .image-container
    p:first-of-type
      font-size: 2em
    p:last-of-type
      font-size: 1.75em
    a
      display: block
      font-size: 1.25em
      font-weight: 400
      letter-spacing: 3px
      margin: 10px auto 0
      padding: 15px 0
      width: 200px
