section#register
  background: #F3F3F3

  .register
    @extend .container
    color: $gray-font
    display: flex
    .register--article
      flex: 1 0 0
    .register--action
      flex: 1 0 0
      display: flex
      flex-flow: column nowrap
      align-items: center
      justify-content: center

  .register
    .register--article
      article
        header
          font-size: 1.75em
        p
          font-size: 1.25em
    .register--action
      svg, img
        width: 14em
        height: 6em
        path, polygon
          fill: #444
      .action--hashtag
        font-size: 1.75em
        margin: 0.2em 0
      .action--main-button
        @extend .main-btn
        padding: 0.5em 2em
        font-size: 1.2em
