body
  font-family: 'Open Sans', sans-serif
  min-width: 550px

p, span, i
  color: #FFF

flash-messages
  position: fixed
  width: 100%
  top: 1rem
  z-index: 9999
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  [flash-message]
    font-size: 2rem
    margin: .1em 0
    cursor: pointer
    text-align: center

.row
  margin: 0

.section
  background: $bg-main
  padding: 40px 60px

  &.paralax
    background: image_url('section_image.jpg')
    background-position-y: 220px
    padding: 45px 60px

    p
      margin: 0
      &:first-of-type
        font-size: 3em
        font-weight: 500
      &.slogan
        font-size: 1.75em
        i
          color: $highlight-font
          margin: 0 5px

  .image-container
    @extend .col-md-4
    text-align: center

  .message-container
    @extend .col-md-8
    margin: 0 0 3% 0
    p
      font-size: 18px
      letter-spacing: 2px
      text-align: right
      span
        color: $highlight-font

.section-wrapper
  margin: 0 auto
  max-width: 1160px

.row-wrapper
  @extend .row
  margin: 0

.main-btn
  background: $bg-button
  box-shadow: $gray-font 1px 1px 2px 1px
  color: $color-button
  &:hover
    background: $bg-button-hover
    color: $color-button
    text-decoration: none

.main-btn-img
  @extend .main-btn
  span
    margin: 0 10px 0 0

@media (max-width: 1053px)
  .section .message-container p
    text-align: center
