body
  font-family: 'Open Sans', sans-serif
  line-height: 1.3

.slogan
  @include flex-box
  align-items: center
  font-size: 1.25rem
  margin-left: 0.2em
  span
    color: map-get($colors, gray)
  i
    color: map-get($colors, green)
    font-size: 0.7em
    margin: 0 0.5em

section[role=navigation]
  background: map-get($colors, white)

  .image-container
    @extend .col-md-4
    text-align: center

  .message-container
    @extend .col-md-8
    margin: 0 0 3% 0
    p
      font-size: 18px
      letter-spacing: 2px
      text-align: right
      span
        color: $highlight-font

.section-wrapper
  margin: 0 auto
  max-width: 1160px

.row-wrapper
  @extend .row
  margin: 0

.main-btn
  background: map-get($colors, green)
  color: map-get($colors, white)
  &:hover
    background: map-get($colors, green-dark)
    color: map-get($colors, white)
    text-decoration: none

@media (max-width: 1053px)
  .section .message-container p
    text-align: center
