section#welcome
  background-size: 350% !important
  background-position-y: 0em !important
  background-position-x: 50em !important

  // iphone 5 landscape
  @include media-breakpoint-up(sm)
    background-position-y: 0em !important
    background-position-x: -40em !important

  // iphone 6 landscape
  @include media-breakpoint-up(smplus)
    background-size: 150% !important
    background-position-y: 35em !important
    background-position-x: 62em !important

  // tablet
  @include media-breakpoint-up(md)
    background-position-y: 46em !important

  // tablet desktop
  @include media-breakpoint-up(lg)
    background-position-y: 53em !important
    background-size: 130% !important
    background-position-x: 0 !important

.hero
  @include flex-box
  @include flex-flow(column nowrap)
  @extend .container
  .hero-footer
    @include flex(1, 0, 0)
  .hero-head
    @include flex(3, 0, 0)
    @include flex-box
    @include flex-flow(column wrap)

    @include media-breakpoint-up(smplus)
      @include flex(6, 0, 0)
    @include media-breakpoint-up(md)
      @include flex(1, 0, 0)
      @include flex-flow(row wrap)
    .hero-head--logo
      @include flex(3, 0, 0)
      @include media-breakpoint-up(sm)
        @include flex(2, 0, 0)
    .hero-head--button
      @include flex(1, 0, 0)
      @include flex-box
      @include flex-flow(column nowrap)
    .hero-head--logo
      @include flex-box
      @include flex-flow(column nowrap)
      .logo--date
        @include flex-box
        .logo--date--content
          @include flex-box
          @include flex-flow(column nowrap)
          @include flex(3, 0, 0)
  .hero-footer
    @include flex-box
    @include flex-flow(column nowrap)

.hero
  min-height: 31rem
  @include media-breakpoint-up(smplus)
    min-height: 19rem
  @include media-breakpoint-up(md)
    min-height: 28rem
  @include media-breakpoint-up(xl)
    min-height: 38rem

  .hero-head
    margin-top: 3rem
    .hero-head--logo
      justify-content: space-around
      align-items: center
      @include media-breakpoint-up(md)
        justify-content: flex-start
        align-items: flex-start
      .logo--head
        margin-bottom: 1em
        img
          max-width: 30em
          width: 100%
    .hero-head--logo .logo--date
      align-items: center
      .date--head
        min-width: 5em
        img
          width: 5em
      .date--content
        margin-left: 1em
        color: white
        .content--head
          font-size: 3em
          line-height: 1
    .hero-head--button
      align-items: center
      justify-content: center
      @include media-breakpoint-up(md)
        justify-content: flex-start
      a
        box-shadow: #000000 0.0625em 0.0625em 0.125em 0.0625em
        font-size: 1.25em
        padding: 0.625em 2em
        @include media-breakpoint-up(md)
          padding: 0.625em 3em
  .hero-footer
    justify-content: flex-end
    align-items: flex-end
    margin-bottom: 2em
    @include media-breakpoint-up(smplus)
      margin-bottom: 1rem
    img
      width: 8em
