#welcome
  background: image_url('welcome_image.jpg')
  background-size: cover
  padding: 100px 60px 30px

  #hack-row
    .image-container
      @extend .col-md-5
      padding: 0
      text-align: left

      img
        height: 48px
        width: 430px

    .button-container
      @extend .col-md-2, .col-md-offset-5
      display: flex
      padding: 0
      text-align: right

      a
        box-shadow: #000000 1px 1px 2px 1px
        font-size: 20px
        padding: 10px 50px

  #logo-row
    margin-top: 15px

    .logo-container, .date-container
      float: left

    .date-container
      margin-left: 15px
      #date
        display: inline-block
        font-size: 45px
        vertical-align: top

      #slogan
        display: inline-block
        font-size: 20px
        margin: 0
        span
          color: $gray-font
        i
          color: $highlight-font
          margin: 0 7px

  .commit-container
    margin-top: 400px
    p
      margin: 0
      &:first-of-type
        font-size: 25px
      &:last-of-type
        font-size: 16px
        color: $gray-font

#welcome
  @media (max-width: 991px)
    #hack-row
      .image-container
        text-align: center

      .button-container
        margin-top: 15px
        a
          margin: 0 auto

    #logo-row
      display: table
      margin: 40px auto 0
      text-align: center

    .commit-container
      margin-top: 360px
