flash-messages
  position: fixed
  width: 100%
  top: 1rem
  z-index: 9999
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  [flash-message]
    font-size: 2rem
    margin: .1em 0
    cursor: pointer
    text-align: center
