$bg-main: #FFF
$bg-gray: #F5F2F2
$bg-section-registration: #FFF
$bg-button: #3DCA6A
$bg-button-hover: #3AC367
$bg-menu: #1B1919
$color-button: #FFF
$highlight-font: #3DCA6A
$gray-font: #999999
$gray-font-strong: #333333
