$enable-flex: true;

@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome';

body {
  font-family: 'Open Sans', sans-serif
};

ul {
  list-style: none;
  padding: 0;
  &.dotted {
    list-style: circle;
    margin-left: 1em;
  }
};

strong {
  color: map-get($colors, green);
};

.container .wrapper {
  padding: 3rem 0
};

.slogan {
  display: flex;
  align-items: center;
  line-height: 1em;
  i {
    font-size: 0.6em;
    margin: 0 0.3em;
    color: map-get($colors, green);
  };
};

.modal{
  .close{
    span{ font-size: 2em }
  }
}

.hidden{ display: none !important }

.thanks{
  font-size: 2em !important;
  color: map-get($colors, green-light);
  text-align: center !important;
  background: none !important;
  padding: 0 !important;
  &:hover, &:focus{ color: map-get($colors, green-light); }
  span{
    display: block;
    margin: 0 0.4em;
    font-weight: bold;
  }
}

@import 'components/*';
@import 'application/*';
