$enable-flex: true;

@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome';

@include media-breakpoint-down(sm) {
  html{ font-size: 10px };
};

html, body {
  height: 100%;
};

body {
  font-family: 'Open Sans', sans-serif
};

ul {
  list-style: none;
};

strong {
  color: map-get($colors, green);
};

.container .wrapper {
  padding: 3rem 0
};

.slogan {
  display: flex;
  align-items: center;
  i {
    margin: 0 0.3em;
    color: map-get($colors, green);
  };
};

.modal{
  .close{
    span{ font-size: 2em }
  }
}

@import 'components/*';
@import 'application/*';
