$colors: (
  white: #F5F2F2,
  white-dark: #F1F1F1,
  gray-light: #ACABAB,
  gray: #999999,
  gray-dark: #333333,
  green: #29B573,
  green-dark: #3AC367,
  black-dark: #1B1919
);

// Bootstrap

$brand-primary: map-get($colors, green);
