#about
  .title
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 1em
  .content
    text-align: justify
  article
    padding: 2em 0
    display: flex
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    border-style: dotted
    border-top: none
    border-left: none
    border-right: none
    &:last-child
      border: none
    &:nth-child(odd)
      flex-flow: row-reverse wrap
