#about
  .title
    display: flex
    align-items: center
    justify-content: center
  .content
    text-align: justify

#banner
  background: map-get($colors, white)
  article
    display: flex
    flex-flow: column
    justify-content: center
    padding: 2em
  .hashtag
    font-size: 3em
    text-align: center
    color: map-get($colors, gray-light)
  .register
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    a
      font-size: 2em
      padding: 0.5em 2em
