#banner
  &.nature-1
    background: asset_url('nat-1.jpg') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    color: map-get($colors, white)
  background: map-get($colors, white)
  article
    display: flex
    flex-flow: column
    justify-content: center
    padding: 2em
  .hashtag
    font-size: 3em
    text-align: center
    color: map-get($colors, gray-light)
  .register
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    a
      font-size: 2em
      padding: 0.5em 2em
  blockquote
    p
      text-align: center
      font-size: 2.5em
    footer
      text-align: right
      font-size: 1em
