#sponsors
  background-color: map-get($colors, white)
  ul
    display: flex
    justify-content: center
    margin: 0 auto
    flex-flow: row wrap
    max-width: 4 * (11rem + 2*2rem)
    li
      display: flex
      align-items: center
      margin: 2rem
      img
        width: 11rem
      &.urbem
        img
          width: 6rem
      &.cntp
        img
          width: 9rem
